.search{
    padding: 7px 5px;
    width: 80%;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 25px;           
    outline: none;
}
.add{
    padding: 7px 5px;
    width: 80%;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 25px;
    outline: none;
}
.addbtn{
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 12px;
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
}
.yourDivId{
    position: relative;
    margin: auto;
    transition: margin-top 0.3s ease;
}
.listet{
    margin-top: 15px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .checkicon{
    margin-right: 5px ;
    color:"#137413";
  }
.checkbtn{
    position: absolute;
    right: 15%;
    outline: none;
    padding: 2px;
    background-color: white;
    border: 1px solid green;
    border-radius: 8px;
    background-color: green;
    color: white;
}
.back{
    position: absolute;
    left: 10%;
    top: 4%;
}
.emptypop p{
    position: absolute;
    top: 16%;
    color: white;
  }
  .popcontainer{
    position: absolute;
    top: 30%;
    margin-left: 15%;
    /* transform: translateX(%); */
    padding: 40px;
    background-color: black;
    width: 50%;
  }
  .closebtn{
    position: absolute;
    color:red;
    border:2px solid white;
    padding:4px;
    left: 45%;
    bottom: 7%;
    border-radius: 50%;
  }
